body, html {
  margin: 0;
  width: 100%;
  height: 100%;
}


.tableDiv{
  display: flex; /* flexbox pour le centrage vertical */
  align-items: center; /* alignement vertical au centre */
  justify-content: center;
 
}

table {
  width: 75%;
  margin-bottom: 1rem;
  margin-top: 2rem;;
  color: #212529;
  border-collapse: collapse;

}
  
  thead {
    background-color: #e9ecef;
  }
  
  th, td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  th {
    text-align: inherit;
  }
  

  .boutons {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .boutons button {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
  }

  button.btn {
    background-color: #4CAF50; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 12px 24px; /* Taille du bouton */
    border: none; /* Suppression de la bordure */
    border-radius: 8px; /* Arrondi des coins */
    cursor: pointer; /* Curseur de type pointeur */
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Ombre portée */
  }
  button.btnn {
    background-color: #c50b0e; /* Couleur de fond */
    color: white; /* Couleur du texte */
    padding: 12px 24px; /* Taille du bouton */
    border: none; /* Suppression de la bordure */
    border-radius: 8px; /* Arrondi des coins */
    cursor: pointer; /* Curseur de type pointeur */
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3); /* Ombre portée */
  }
  

  button.btn:hover {
    background-color: red; /* Changement de couleur au survol */
  }
