<div class="image">
  <img id="bg" src="assets/pandemic_accueil.png" alt=""/>
  <div class="menu-and-image">
      <div class="boutons">
        <h1>MENU</h1>
        <button type="button" class="btn">
          <a href="assets/pandemic-regles.pdf" target="_blank">Règles du jeu</a>
        </button> 
        <button type="button" class="btn" (click)="creerPartie();"> Créer partie</button>
        <button type="button" class="btn" (click)="rejoindrePartie();"> Rejoindre partie</button>
       
        <button type="button" class="btn" (click)="quitter();"> Quitter</button>
      </div>
  </div>
</div>
  

