<div class="plateau">
  <img id="bg" src="/assets/pandemic_plateau.png" alt="plateau de jeu" (click)="getPosition($event)"/>
  
  <div class="ville san_francisco"><button title="san_francisco" (click)="envoyerTitre('san_francisco')"></button></div>
  <div class="ville los_angeles"><button title="los_angeles" (click)="envoyerTitre('los_angeles')"></button></div>
  <div class="ville chicago"><button title="chicago" (click)="envoyerTitre('chicago')"></button></div>
  <div class="ville atlanta"><button title="atlanta" (click)="envoyerTitre('atlanta')"></button></div>
  <div class="ville mexico"><button title="mexico" (click)="envoyerTitre('mexico')"></button></div>
  <div class="ville miami"><button title="miami" (click)="envoyerTitre('miami')"></button></div>
  <div class="ville montreal"><button title="montreal" (click)="envoyerTitre('montreal')"></button></div>
  <div class="ville washington"><button title="washington" (click)="envoyerTitre('washington')"></button></div>
  <div class="ville new_york"><button title="new_york" (click)="envoyerTitre('new_york')"></button></div>
  <div class="ville bogota"><button title="bogota" (click)="envoyerTitre('bogota')"></button></div>
  <div class="ville lima"><button title="lima" (click)="envoyerTitre('lima')"></button></div>
  <div class="ville santiago"><button title="santiago" (click)="envoyerTitre('santiago')"></button></div>
  <div class="ville buenos_aires"><button title="buenos_aires" (click)="envoyerTitre('buenos_aires')"></button></div>
  <div class="ville sao_paulo"><button title="sao_paulo" (click)="envoyerTitre('sao_paulo')"></button></div>


  <div class="ville lagos"><button title="lagos" (click)="envoyerTitre('lagos')"></button></div>
  <div class="ville kinshasa"><button title="kinshasa" (click)="envoyerTitre('kinshasa')"></button></div>
  <div class="ville johannesburg"><button title="johannesburg" (click)="envoyerTitre('johannesburg')"></button></div>
  <div class="ville khartoum"><button title="khartoum" (click)="envoyerTitre('khartoum')"></button></div>
  <div class="ville le_caire"><button title="le_caire" (click)="envoyerTitre('le_caire')"></button></div>

  <div class="ville alger"><button title="alger" (click)="envoyerTitre('alger')"></button></div>
  <div class="ville madrid"><button title="madrid" (click)="envoyerTitre('madrid')"></button></div>
  <div class="ville paris"><button title="paris" (click)="envoyerTitre('paris')"></button></div>
  <div class="ville londres"><button title="londres" (click)="envoyerTitre('londres')"></button></div>
  <div class="ville essen"><button title="essen" (click)="envoyerTitre('essen')"></button></div>

  <div class="ville milan"><button title="milan" (click)="envoyerTitre('milan')"></button></div>
  <div class="ville istanbul"><button title="istanbul" (click)="envoyerTitre('istanbul')"></button></div>
  <div class="ville saint-petersbourg"><button title="saint-petersbourg" (click)="envoyerTitre('saint-petersbourg')"></button></div>
  <div class="ville moscou"><button title="moscou" (click)="envoyerTitre('moscou')"></button></div>
  <div class="ville bagdad"><button title="bagdad" (click)="envoyerTitre('bagdad')"></button></div>

  <div class="ville teheran"><button title="teheran" (click)="envoyerTitre('teheran')"></button></div>
  <div class="ville karachi"><button title="karachi" (click)="envoyerTitre('karachi')"></button></div>
  <div class="ville riyad"><button title="riyad" (click)="envoyerTitre('riyad')"></button></div>
  <div class="ville mumbai"><button title="mumbai" (click)="envoyerTitre('mumbai')"></button></div>
  <div class="ville delhi"><button title="delhi" (click)="envoyerTitre('delhi')"></button></div>

  <div class="ville chennai"><button title="chennai" (click)="envoyerTitre('chennai')"></button></div>
  <div class="ville calcutta"><button title="calcutta" (click)="envoyerTitre('calcutta')"></button></div>
  <div class="ville bangkok"><button title="bangkok" (click)="envoyerTitre('bangkok')"></button></div>
  <div class="ville jakarta"><button title="jakarta" (click)="envoyerTitre('jakarta')"></button></div>
  <div class="ville ho-chi-minh-ville"><button title="ho-chi-minh-ville" (click)="envoyerTitre('ho-chi-minh-ville')"></button></div>

  <div class="ville hong_kong"><button title="hong_kong" (click)="envoyerTitre('hong_kong')"></button></div>
  <div class="ville shanghai"><button title="shanghai" (click)="envoyerTitre('shanghai')"></button></div>
  <div class="ville pekin"><button title="pekin" (click)="envoyerTitre('pekin')"></button></div>
  <div class="ville seoul"><button title="seoul" (click)="envoyerTitre('seoul')"></button></div>
  <div class="ville tokyo"><button title="tokyo" (click)="envoyerTitre('tokyo')"></button></div>

  <div class="ville osaka"><button title="osaka" (click)="envoyerTitre('osaka')"></button></div>
  <div class="ville taipei"><button title="taipei" (click)="envoyerTitre('taipei')"></button></div>
  <div class="ville manille"><button title="manille" (click)="envoyerTitre('manille')"></button></div>
  <div class="ville sydney"><button title="sydney" (click)="envoyerTitre('sydney')"></button></div>

  <div class="eclosion eclo_0"><button title="eclosion_0" (click)="envoyerTitre('eclosion_0')"></button></div>
  <div class="eclosion eclo_1"><button title="eclosion_1" (click)="envoyerTitre('eclosion_1')"></button></div>
  <div class="eclosion eclo_2"><button title="eclosion_2" (click)="envoyerTitre('eclosion_2')"></button></div>
  <div class="eclosion eclo_3"><button title="eclosion_3" (click)="envoyerTitre('eclosion_3')"></button></div>
  <div class="eclosion eclo_4"><button title="eclosion_4" (click)="envoyerTitre('eclosion_4')"></button></div>
  <div class="eclosion eclo_5"><button title="eclosion_5" (click)="envoyerTitre('eclosion_5')"></button></div>
  <div class="eclosion eclo_6"><button title="eclosion_6" (click)="envoyerTitre('eclosion_6')"></button></div>
  <div class="eclosion eclo_7"><button title="eclosion_7" (click)="envoyerTitre('eclosion_7')"></button></div>
  <div class="eclosion eclo_mort"><button title="eclosion_mort" (click)="envoyerTitre('eclosion_mort')"></button></div>

  <div class="remede remede_jaune"><button title="remede_jaune" (click)="envoyerTitre('remede_jaune')"></button></div>
  <div class="remede remede_rouge"><button title="remede_rouge" (click)="envoyerTitre('remede_rouge')"></button></div>
  <div class="remede remede_bleu"><button title="remede_bleu" (click)="envoyerTitre('remede_bleu')"></button></div>
  <div class="remede remede_noir"><button title="remede_noir" (click)="envoyerTitre('remede_noir')"></button></div>
  <div class="remede remede_violet"><button title="remede_violet" (click)="envoyerTitre('remede_violet')"></button></div>

  <div class="propagation propagation_vitesse_2_1"><button title="propagation_vitesse_2" (click)="envoyerTitre('propagation_vitesse_2_1')"></button></div>
  <div class="propagation propagation_vitesse_2_2"><button title="propagation_vitesse_2" (click)="envoyerTitre('propagation_vitesse_2_2')"></button></div>
  <div class="propagation propagation_vitesse_2_3"><button title="propagation_vitesse_2" (click)="envoyerTitre('propagation_vitesse_2_3')"></button></div>
  <div class="propagation propagation_vitesse_3_1"><button title="propagation_vitesse_3" (click)="envoyerTitre('propagation_vitesse_3_1')"></button></div>
  <div class="propagation propagation_vitesse_3_2"><button title="propagation_vitesse_3" (click)="envoyerTitre('propagation_vitesse_3_2')"></button></div>
  <div class="propagation propagation_vitesse_4_1"><button title="propagation_vitesse_4" (click)="envoyerTitre('propagation_vitesse_4_1')"></button></div>
  <div class="propagation propagation_vitesse_4_2"><button title="propagation_vitesse_4" (click)="envoyerTitre('propagation_vitesse_4_2')"></button></div>

  <div class="carte_joueur joueur_pioche"><button title="cartes_joueurs" (click)="piocher('cartes_joueurs')">Piocher</button></div>
  <div class="carte_joueur joueur_defausse"><button title="defausse_joueur" (click)="envoyerTitre('defausse_joueur')"></button></div>
  <div class="carte_propagation propagation_pioche"><button title="cartes_propagation" (click)="envoyerTitre('cartes_propagation')"></button></div>
  <div class="carte_propagation propagation_defausse"><button title="defausse_propagation" (click)="envoyerTitre('defausse_propagation')"></button></div>

  <div class="afficher_main main">
    <button>
      <img src="/assets/cartes_en_main.png" alt="Carte en main">
    </button>
  </div>
</div>
<!--
<div class="carte_en_main_div">
    <button title="afficher carte en main" (click)="afficherCarteEnMain()"> 
      <img src="/assets/cartes_en_main.png" alt="Carte en main">
    </button>
  </div>

<div class="carte_en_main_affichage" *ngIf="carteEnMainVisible" >
  <div *ngFor="let imageUrl of imageUrls">
    <img [src]="imageUrl.url" [alt]="imageUrl.key"/>
  </div>
</div>
-->