   <div class="zone">
   <div class="container">
        <h1>BIENVENUE AU JEU PANDEMIC</h1>
    </div>
    <div class="container">
        <img src="assets/pandemic_accueil.png" alt="Pandemic Accueil">
    </div>
    <div class="buttons">
        <button type="button" class="btn btn-primary-outline pull-right" (click)="allerDansMenu();"><i class="fa fa-plus"></i> COMMENCER UNE PARTIE</button>    

        <button type="button" class="btn btn-primary-outline pull-right" (click)="seDeconnecter();"><i class="fa fa-plus"></i> QUITTER</button>    

    </div>
</div>
